.u-section-1 .u-sheet-1 {
  min-height: 1190px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 39px auto 0 191px;
}

.u-section-1 .u-products-1 {
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 989px;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 11px;
}

.u-section-1 .u-icon-1 {
  width: 112px;
  height: 112px;
  transition-duration: 0.75s;
  margin: 105px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 84px auto 0 91px;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.125rem;
  width: 176px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 19px 19px 0 91px;
}

.u-section-1 .u-repeater-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 11px;
}

.u-section-1 .u-icon-5 {
  width: 112px;
  height: 112px;
  transition-duration: 0.75s;
  margin: 105px auto 0;
}

.u-section-1 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 84px auto 0 91px;
}

.u-section-1 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.125rem;
  width: 176px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-7 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 19px 19px 0 91px;
}

.u-section-1 .u-repeater-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 11px;
}

.u-section-1 .u-icon-9 {
  width: 112px;
  height: 112px;
  transition-duration: 0.75s;
  margin: 105px auto 0;
}

.u-section-1 .u-text-8 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 84px auto 0 91px;
}

.u-section-1 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.125rem;
  width: 176px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-10 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 19px 19px 0 91px;
}

.u-section-1 .u-repeater-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 11px;
}

.u-section-1 .u-icon-13 {
  width: 112px;
  height: 112px;
  transition-duration: 0.75s;
  margin: 105px auto 0;
}

.u-section-1 .u-text-11 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 84px auto 0 91px;
}

.u-section-1 .u-text-12 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.125rem;
  width: 176px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-13 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 19px 19px 0 91px;
}

.u-section-1 .u-repeater-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 11px;
}

.u-section-1 .u-icon-17 {
  width: 112px;
  height: 112px;
  transition-duration: 0.75s;
  margin: 105px auto 0;
}

.u-section-1 .u-text-14 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 84px auto 0 91px;
}

.u-section-1 .u-text-15 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.125rem;
  width: 176px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-16 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 19px 19px 0 91px;
}

.u-section-1 .u-repeater-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 11px;
}

.u-section-1 .u-icon-21 {
  width: 112px;
  height: 112px;
  transition-duration: 0.75s;
  margin: 105px auto 0;
}

.u-section-1 .u-text-17 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 84px auto 0 91px;
}

.u-section-1 .u-text-18 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.125rem;
  width: 176px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-19 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 19px 19px 0 91px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  margin: 0 69px 0 auto;
  padding: 10px 34px 11px 33px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  border-style: none;
  margin: -50px 267px 12px auto;
  padding: 9px 31px 10px 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 815px;
  }

  .u-section-1 .u-icon-1 {
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-5 {
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-9 {
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-13 {
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-17 {
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-21 {
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    letter-spacing: normal;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 67px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1405px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 143px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 90px;
  }
}

.u-section-1 .u-icon-1,
.u-section-1 .u-icon-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-1 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-1 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-5,
.u-section-1 .u-icon-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-5.u-icon-5.u-icon-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-5 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-5.u-icon-5.u-icon-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-5 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-9,
.u-section-1 .u-icon-9:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-9.u-icon-9.u-icon-9:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-9 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-9.u-icon-9.u-icon-9.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-9 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-13,
.u-section-1 .u-icon-13:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-13.u-icon-13.u-icon-13:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-13 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-13.u-icon-13.u-icon-13.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-13 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-17,
.u-section-1 .u-icon-17:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-17.u-icon-17.u-icon-17:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-17 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-17.u-icon-17.u-icon-17.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-17 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-21,
.u-section-1 .u-icon-21:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-21.u-icon-21.u-icon-21:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-21 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-21.u-icon-21.u-icon-21.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-icon-21 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-148:not([data-block-selected]):not([data-cell-selected]),
.u-block-c25a-148:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c25a-148:not([data-block-selected]):not([data-cell-selected]).u-block-c25a-148:not([data-block-selected]):not([data-cell-selected]).u-block-c25a-148:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-148:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-148.u-block-c25a-148.u-block-c25a-148.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-148 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-157:not([data-block-selected]):not([data-cell-selected]),
.u-block-c25a-157:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c25a-157:not([data-block-selected]):not([data-cell-selected]).u-block-c25a-157:not([data-block-selected]):not([data-cell-selected]).u-block-c25a-157:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-157:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-157.u-block-c25a-157.u-block-c25a-157.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-157 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-166:not([data-block-selected]):not([data-cell-selected]),
.u-block-c25a-166:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c25a-166:not([data-block-selected]):not([data-cell-selected]).u-block-c25a-166:not([data-block-selected]):not([data-cell-selected]).u-block-c25a-166:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-166:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-166.u-block-c25a-166.u-block-c25a-166.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-166 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-175:not([data-block-selected]):not([data-cell-selected]),
.u-block-c25a-175:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c25a-175:not([data-block-selected]):not([data-cell-selected]).u-block-c25a-175:not([data-block-selected]):not([data-cell-selected]).u-block-c25a-175:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-175:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-175.u-block-c25a-175.u-block-c25a-175.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-175 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-container-layout:hover .u-block-c25a-175:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-c25a-175 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-c25a-184:not([data-block-selected]):not([data-cell-selected]),
.u-block-c25a-184:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c25a-184:not([data-block-selected]):not([data-cell-selected]).u-block-c25a-184:not([data-block-selected]):not([data-cell-selected]).u-block-c25a-184:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-184:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-184.u-block-c25a-184.u-block-c25a-184.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-184 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-container-layout:hover .u-block-c25a-184:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-c25a-184 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-c25a-193:not([data-block-selected]):not([data-cell-selected]),
.u-block-c25a-193:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c25a-193:not([data-block-selected]):not([data-cell-selected]).u-block-c25a-193:not([data-block-selected]):not([data-cell-selected]).u-block-c25a-193:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-193:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-193.u-block-c25a-193.u-block-c25a-193.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-193 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-container-layout:hover .u-block-c25a-193:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-c25a-193 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-c25a-202:not([data-block-selected]):not([data-cell-selected]),
.u-block-c25a-202:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c25a-202:not([data-block-selected]):not([data-cell-selected]).u-block-c25a-202:not([data-block-selected]):not([data-cell-selected]).u-block-c25a-202:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-202:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-202.u-block-c25a-202.u-block-c25a-202.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-202 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-container-layout:hover .u-block-c25a-202:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-c25a-202 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-c25a-211:not([data-block-selected]):not([data-cell-selected]),
.u-block-c25a-211:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c25a-211:not([data-block-selected]):not([data-cell-selected]).u-block-c25a-211:not([data-block-selected]):not([data-cell-selected]).u-block-c25a-211:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-211:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-211.u-block-c25a-211.u-block-c25a-211.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-211 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-220:not([data-block-selected]):not([data-cell-selected]),
.u-block-c25a-220:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c25a-220:not([data-block-selected]):not([data-cell-selected]).u-block-c25a-220:not([data-block-selected]):not([data-cell-selected]).u-block-c25a-220:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-220:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-220.u-block-c25a-220.u-block-c25a-220.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-220 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-229:not([data-block-selected]):not([data-cell-selected]),
.u-block-c25a-229:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c25a-229:not([data-block-selected]):not([data-cell-selected]).u-block-c25a-229:not([data-block-selected]):not([data-cell-selected]).u-block-c25a-229:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-229:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-229.u-block-c25a-229.u-block-c25a-229.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-block-c25a-229 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
}